
:root {
    --button-size: 50px;
    --player-button-size: 50px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.select-amount-panel {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: calc(var(--button-size) * 3);

}

.select-amount-panel button {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 20%;
    border-width: 0;
    font-size: 24px;
    transition: all 500ms;
}

.select-amount-panel button:active {
    background-color: greenyellow;
}

#score-board {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.players-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
    flex: 0 0 0%;

}

.center {
   flex: 1 1 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    min-width: var(--button-size);
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--player-button-size));
    height: calc(var(--player-button-size));

    background-color: white;
    color: black;
    border-radius: 50%;
    border: 5px solid red;
    font-size: 34px;
}

.cards-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
    flex: 0 0 0%;
}

.player-btn {
    width: var(--player-button-size);
    height: var(--player-button-size);

    border-radius: 20%;
    border-width: 0;
    font-size: 24px;
}


