:root {
  --chip-size: 100vh / 12;
  --player-button-size: 54px;
}

#app {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.board {
  position: relative;
  user-select: none;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.board-inner {
  position: relative;
  height: 100vh;
  width: 100vh;
  background-color: #fcef6b;
}

.chip-holder {
  position: absolute;
  width: 0;
  height: 0;
  border-left: calc(100vh / 24) solid transparent;
  border-right: calc(100vh / 24) solid transparent;
  border-top: calc(100vh / 2.5) solid #eda56b;
}

.chip {
  position: absolute;
  background-color: black;
  width: calc(100vh / 12);
  height: calc(100vh / 12);
  border-width: calc(0.2 * 100vh / 12);
  border-color: #333333;
  border-style: solid;
  border-radius: 50%;

}

.white {
  border-color: snow;
  background-color: silver;
}

.board-middle {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 100vh;
}


.color-1 {
  background-color: orange;
  color: #181818;
}

.color-2 {
  background-color: red;
  color: white;
}

.color-3 {
  background-color: green;
  color: white;
}

.color-4 {
  background-color: blue;
  color: white;
}

.color-5 {
  background-color: black;
  color: white;
}

.color-6 {
  background-color: white;
  border: 1px solid black !important;
  color: black;
}

.color-7 {
  background-color: yellow;
  color: black;
}
