:root {
  --size: calc(100vw / 14);
  --borad-padding: var(--size);
  --board-width: calc(var(--size) * 12);
  --chip-size: calc(var(--board-width) / 12);

  --board-color: #009688;
  --holder-color: #70d7cb;
  --holder-highlight: #90EE90E0;
  --holder-hover: #5BC47CFF;
  --holder-active: #e75a5a;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app {
  padding: 0;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-flow: row;
  padding: 0 var(--borad-padding);
  max-width: calc(var(--board-width) + var(--borad-padding) * 2);

  .selected {
    filter: drop-shadow(0 0 7px #3def22);
    box-shadow: 0 0 20px #5ac34a;
  }

  .button-center-container {
    content:  '★';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: var(--board-width);
    max-width: var(--board-width);
    z-index: 1;
  }

  .ornament-container {
    content:  '★';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: var(--board-width);
    max-width: var(--board-width);
    z-index: 1;

    .white,
    .black {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20vh;

      svg {
        width: 30vh;
        height: 30vh;
      }


      &.animate {
        animation: rotate 3s linear 1;
      }
    }
    .white { filter: invert(0.9);
    }
  }
}

.board-inner {
  position: relative;
  height: 100vh;
  width: var(--board-width);
  max-width: var(--board-width);
  background-color: var(--board-color);
}

.chip-holder {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;
  border-left: calc(var(--chip-size) / 2) solid transparent;
  border-right: calc(var(--chip-size) / 2) solid transparent;
  border-top: calc(100vh / 2.5) solid var(--holder-color);

  &.highlighted {
    cursor: pointer;
    border-top-color: var(--holder-highlight);

    &:hover {
      border-top-color: var(--holder-hover);
    }

    &:active {
      border-top-color: var(--holder-active);
    }
  }
}



.chip {
  position: absolute;
  background-color: black;
  width: calc(var(--chip-size) - 4px);
  height: calc(var(--chip-size) - 4px);
  border-width: calc(0.2 * var(--chip-size));
  border-color: #333333;
  border-style: solid;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 23px;
  font-weight: 700;

  &:not(.white) {
    color: white;
    top: 0;
    left: 0;
  }

  &.white {
    color: black;
    bottom: 0;
    right: 0;

    &.chip-out {
      box-shadow: 0 0 2px black;
    }
  }

  &.white {
    border-color: snow;
    background-color: silver;
  }
}

.skip-btn {
  z-index: 1;
  font-size: 32px;
  background-color: white;
  padding: 0 20px;
  border-radius: 30px;
  cursor: pointer;

  &:active {
    background-color: greenyellow;
  }
}

.out-btn {
  z-index: 1;
  font-size: 32px;
  margin: 0 20px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;

  img {
    width: 50px;
  }

  &:active {
    filter: drop-shadow(0px 0px 3px white);
  }
}

.board-middle {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 100vh;
}


.color-1 {
  background-color: orange;
  color: #181818;
}

.color-2 {
  background-color: red;
  color: white;
}

.color-3 {
  background-color: green;
  color: white;
}

.color-4 {
  background-color: blue;
  color: white;
}

.color-5 {
  background-color: black;
  color: white;
}

.color-6 {
  background-color: white;
  border: 1px solid black !important;
  color: black;
}

.color-7 {
  background-color: yellow;
  color: black;
}
